<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.nilhcem.droidcontn"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".DroidconApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.drawer.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.sessions.list.SessionsListActivity"
            android:parentActivityName=".ui.drawer.DrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.drawer.DrawerActivity"/>
        </activity>

        <activity
            android:name=".ui.sessions.details.SessionDetailsActivity"
            android:parentActivityName=".ui.drawer.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.drawer.DrawerActivity"/>
        </activity>
    </application>
</manifest>
